.container {
    background-image: url("background.jpg");
    overflow: hidden;
    min-width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}