.container {
    height: 60px;
    width: 100%;
    background-color: #1e2428;
    display: flex;
}

input {
    background-color: #33383b;
    width: 70%;
    margin: auto;
    border: none;
    height: 70%;
    border-radius: 30px;
    color: #ececed;
    padding: 0 20px 0 30px;
    outline: none;
}

.btn {
    background-color: gray;
    width: 30px;
    height: 30px;
    border: none;
    margin: auto;
    border-radius: 50%;
}