.container {
    max-width: 100%;
    padding: 5px;
    display: flex;
}

.image {
    border-radius: 3px;
    max-width: 100%;
}

.sent {
    background-color: #056162;
    max-width: 50%;
    margin-left: auto;
    text-align: left;
    border-radius: 7px;
    padding: 8px;
    color: #DEE6E7;
    position: relative;
    line-height: 1.15em;
}

.message {
    font-size: 0.85em;
    margin: 0;
}

.time {
    color: #9ABCBD;
    text-align: right;
    display: block;
    font-size: 0.6em;
    right: 6px;
    bottom: 4px;
}